{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


    <div>
    <div class="typewriter heading">
        <h1 align="center">Welcome to FakeGram!</h1>
    </div>


        <br><br><br><br><br><br><br><br><br>
        <h2> FakeGram is a PWA platform that <br><br> automates your marketing workflow <br><br>by producing posts to upload to <br><br> Instagram!</h2>
    <div>
        <br><br><br><br><br><br><br><br><br>
  <form  method="post">
      {% csrf_token %}
        {{form.as_p}}
        <button class="submit"><span>Submit</span></button>
  </form>





